
.custom-footer{
    display: flex;
    justify-content: space-between;
    
}
@media only screen and (max-width: 768px){
    .about-company{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .links{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .location{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    }
